Django==5.0.6
django-4-jet @ https://github.com/Barukimang/django-jet/archive/dev.zip#sha256=73bfdc1ee258ae78c2a1149bea889de8d8a70b1b5807c769c5277f1b40bab499
django-browser-reload==1.13.0
django-tailwind==3.8.0
python-dotenv==1.0.1
python-slugify==8.0.4